{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% set backgroundImageList = [] %}
{% set ownBackgroundImage = null %}

{% for backgroundImage in backgrounds %}

{% for backgroundImage in page.imageBackgroundData.entities.elements %}
    {% if backgroundImage.bgUploadKey %}
        {% set ownBackgroundImage = backgroundImage %}
    {% endif %}

    {% set backgroundImageList = backgroundImageList|merge([
        {
            id: backgroundImage.id,
            bgUploadKey: backgroundImage.uploadKey,
            mediaId: backgroundImage.mediaId,
            bgWidth: backgroundImage.bgWidth,
            topImgPosition: backgroundImage.topImgPosition,
            leftImgPosition: backgroundImage.leftImgPosition,
            media: backgroundImage.media ? { url: backgroundImage.media.url, alt: backgroundImage. backgroundImage.media.alt } : null
        }
    ]) %}
{% endfor %}

{% set route = {
    iframe: {
        path: url('frontend.product.preview', queryParams)
    },
    uploadBackground: {
        token: sw_csrf('frontend.product.preview.handle.upload', {'mode': 'token'}),
        path: path('frontend.product.preview.handle.upload')
    }
} %}

{% set ProductPreviewOptions = {
    backgroundImageList: backgroundImageList,
    selectedBackground: backgroundImageList[0],
    queryParams: queryParams,
    route: route,
    shareEmail: {
        subject: page.emailShareTemplate.subject,
        contentPlain: page.emailShareTemplate.contentPlain,
        productUrl: seoUrl('frontend.detail.page', {'productId': queryParams.product_id})
    }
}
%}

{% set emailShareTemplate = '' %}

{% block base_body %}
    <body>
    {% block wns_product_preview %}
        <div
                data-product-preview-plugin="true"
                data-product-preview-plugin-options='{{ ProductPreviewOptions|json_encode }}'
        >
            <div class="wns-product-preview-container">
                <div class="wns-product-preview-background"
                     style="background-image: url('{{ProductPreviewOptions.selectedBackground.media.url}}')"
                >
                </div>

                {% block wns_product_preview_product_image %}
                    <div class="wns-product-preview-product-image-container">
                        <div class="wns-product-preview-product-image">
                            <div class="wns-product-preview-dragged-image">
                                <img
                                        class=""
                                        src="{{ queryParams.productimg_url }}"
                                        draggable="true"
                                />
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block wns_preview_tool_action_sidebar %}
                    <div class="wns-product-preview-action-sidebar">
                        <div class="wns-product-preview-action-button-group">
                            {% block wns_preview_tool_action_select_background %}
                                <div class="wns-product-preview-action-select-background btn-group dropright">
                                    <div class="wns-product-preview-action-select-background btn-group dropright ">
                                        <button type="button" class="btn btn-secondary wns-button-action-select-background dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Background
                                        </button>
                                        <div class="wns-background-dropdown-menu dropdown-menu ml-2">
                                            <div class="wns-background-dropdown-background-list">
                                                {% for backgroundImage in backgroundImageList %}
                                                    {% block wns_product_preview_background_list_dropdown %}
                                                        <a class="wns-background-dropdown-item" href="#"
                                                           data-background-id="{{ backgroundImage.id }}">
                                                            <div class="img-hover-zoom">
                                                                <img src="{{ backgroundImage.media.url}}" class="dropdown-item" alt="">
                                                            </div>
                                                        </a>
                                                    {% endblock %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                        {% block wns_preview_tool_action_upload_background %}
                            {% block wns_preview_tool_upload_background %}
                                {% set uploadImageOptions = {
                                    formDataKey: queryParams.key,
                                    route: route,
                                    ownBackgroundImage: ownBackgroundImage ? ownBackgroundImage : null,
                                } %}
                                <div class="wns-preview-tool-action-upload-background">
                                    {% block wns_preview_tool_action_upload_background_button %}
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary mr-2" data-toggle="modal" data-target="#uploadBackgroundModal">
                                                Upload
                                                <span class="d-block d-sm-inline mr-sm-2">
                                                            {% sw_icon 'tray-down'%}
                                                        </span>
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-show-update-modal {% if not ownBackgroundImage %} d-none {% endif %}"
                                                    data-toggle="modal" data-target="#settingBackgroundModal">
                                                        <span class="d-block d-sm-inline">
                                                            {% sw_icon 'editor-media'%}
                                                        </span>
                                            </button>
                                        </div>

                                        <!-- Modal -->
                                        <div class="wns-preview-tool-upload-background"
                                             data-product-preview-upload-bg="true"
                                             data-product-preview-upload-bg-options="{{ uploadImageOptions|json_encode }}"
                                        >
                                            <div class="modal fade wns-preview-tool-upload-background-modal" id="uploadBackgroundModal" tabindex="-1" role="dialog" aria-labelledby="uploadBackgroundModalTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header border-0">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form
                                                                action="{{ path('frontend.product.preview.handle.upload') }}"
                                                                method="post"
                                                                enctype="multipart/form-data"
                                                                data-form-csrf-handler="true"
                                                                data-form-validation="true">
                                                            <div class="modal-body">
                                                                <div class="upload-container">
                                                                    <h3>Upload your background</h3>
                                                                    <div class="border-container">
                                                                        <div class="upload-icon">
                                                                            {% sw_icon 'tray-down'  style { 'font-size': '20px' } %}
                                                                        </div>
                                                                        <p>Only pics allowed! (jpg,jpeg,png) </p>
                                                                        <p class="wns-preview-tool-upload-background-validate-message">
                                                                            Please insert valid image file with following extensions .jpg .jpeg .png
                                                                        </p>
                                                                        <p class="wns-preview-tool-upload-background-file-name"></p>
                                                                        <button type="button" id="btnChooseFile" class="btn btn-primary btn-choose-file">Browse for your pic!</button>
                                                                        <input type="file" id="upload-file" name="upload_file" class="wns-preview-tool-upload-background-input">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer border-0">
                                                                <button type="submit" class="btn btn-primary btn-next-to-setting">Next</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade wns-preview-tool-setting-background-modal" id="settingBackgroundModal" tabindex="-1" role="dialog" aria-labelledby="settingBackgroundModalTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header border-0">
                                                            <h3 class="modal-title">Set Your Room Size</h3>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="upload-container">
                                                                <div class="wns-preview-tool-setting-background-image-wrapper">
                                                                    <div class="wns-preview-tool-setting-background-image-overlay-left"></div>
                                                                    <img class="wns-preview-tool-show-background-image" src="" alt="">
                                                                    <div class="wns-preview-tool-setting-background-image-overlay-right"></div>
                                                                </div>
                                                                <div class="wns-preview-tool-setting-background-image-slider"></div>
                                                                <div class="form-row">
                                                                    <div class="form-group col-md-6">
                                                                        <label for="bgRange" class="font-weight-bold">Slider Min - Slider Max : </label>
                                                                        <p class="range-value">[ 25.00 - 75.00 ]</p>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label for="bgWidthInput" class="font-weight-bold">Background Image Width (cm) <span class="field-required">*</span></label>
                                                                        <input type="text" class="form-control bg-width-input" id="bgWidthInput" placeholder="Please type width of background" required>
                                                                        <div class="empty-mess-bg-width-input">
                                                                            Please fill out this field
                                                                        </div>
                                                                        <div class="invalid-mess-bg-width-input">
                                                                            Only numbers allowed
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="form-group col-md-6">
                                                                        <label for="bgTopInput" class="font-weight-bold">Background Image Top (%) <span class="field-required">*</span></label>
                                                                        <input type="text" class="form-control bg-top-input" id="bgTopInput" size="20" placeholder="Please type top of background" required>
                                                                        <div class="empty-mess-bg-top-input">
                                                                            Please fill out this field
                                                                        </div>
                                                                        <div class="invalid-mess-bg-top-input">
                                                                            Only numbers allowed
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label for="bgLeftInput" class="font-weight-bold">Background Image Left (%) <span class="field-required">*</span></label>
                                                                        <input type="text" class="form-control bg-left-input" id="bgLeftInput" size="10" placeholder="Please type left of background" required>
                                                                        <div class="empty-mess-bg-left-input">
                                                                            Please fill out this field
                                                                        </div>
                                                                        <div class="invalid-mess-bg-left-input">
                                                                            Only numbers allowed
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer border-0 pt-0">
                                                            <button type="button" class="btn btn-outline-primary btn-go-back mr-auto">Go Back</button>
                                                            <button type="button" class="btn btn-primary btn-save-changes">Save changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        {% endblock %}

                        {% block wns_preview_tool_action_share_product_preview %}
                        <div class="wns-product-preview-action-share-product-preview btn-group">
                            <button class="btn btn-secondary dropdown-toggle wns-share-product-preview-button" type="button" id="share-product-preview-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Share
                            </button>
                            <div class="dropdown-menu wns-preview-tool-action-share-link mt-2 p-3">
                                {% block wns_preview_tool_action_share_link %}
                                <div class="form-group mb-0">
                                    <div class="input-group wns-preview-tool-share-link-input-group">
                                        <input type="text"
                                               class="form-control wns-preview-tool-share-link-input text-truncate"
                                               value={{ url('frontend.product.preview', ProductPreviewOptions.queryParams) }}
                                               disabled
                                        >
                                        <button class="wns-copy-btn">
                                                            <span class="wns-copy-icon" >
                                                                {% sw_icon 'products' style { 'color': '#777b6' } %}
                                                            </span>
                                            <span class="tooltiptext" >Copy to clipboard</span>

                                        </button>

                                    </div>
                                    <a class="btn btn-primary wns-preview-tool-send-mail-button mt-2" href="mailto:?{{emailShareTemplate ~ 'subject=' ~ page.emailShareTemplate.subject|url_encode ~ '&body=' ~ page.encodeUrlEmailShareTemplate|url_encode }}">
                                        <button class="btn btn-primary ">Send mail</button>
                                    </a>
                                    {% endblock %}
                                </div>
                            </div>
                            {% endblock %}

                        </div>
                    </div>
                {% endblock %}

            </div>
        </div>
    {% endblock %}

    {% block base_body_script %}
        {{ parent() }}
    {% endblock %}
    </body>
{% endblock %}
